<form method="post" action="/category/add-category" enctype="multipart/form-data">
    <input type="text" name="category_name" id="category_name"  placeholder="Nhập tên danh mục" value="{{this.product_name}}" /> <br />
    <textarea name="category_desciption" id="category_desciption" value="{{this.product_name}}" ></textarea> <br />
    <button type="submit">add category</button>
</form>